/* Navbar Section */

.navbar {
  margin-bottom: 12px;
  margin-top: 22px;
  border-radius: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.navbar-nav .nav-link {
  font-size: 19px;
  font-weight: 300;
  font-family:  sans-serif;
  color: white;
  position: relative;
} 

 .nav-link:hover {
  opacity: 0.8;
  transition: all 0.4s;
}

.dropdown-menu {
  background-color: rgba(30, 70, 110, 255);
  color: white;
}

.dropdown-menu a {
  color: white;
}

.navbar-nav .nav-link:not(.dropdown-toggle)::after{
  content: "";
  opacity: 0;
  transition: all 0.3s;
  height: 1.7px;
  width: 100%;
  background-color: white;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: all 0.8s;
}

.navbar-nav .nav-link:not(.dropdown-toggle):hover::after{
  opacity: 1; 
}

.cust-drop:hover{
  color: white;
}

@media(min-width: 992px) {
  .dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
  }
}


/* Hamburger menu */
.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255, 255, 255, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

/* Hamburger menu */
.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255, 255, 255, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

/* Hero Section */

.c-item {
  height: 643px;
}

.c-image {
  height: 100%;
  object-fit: cover;
}

.but-cus {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  font-family: sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  background-color: #08325f; /* Standard-Blau von Bootstrap */
  border: 2px solid #fff; /* Randstil */
  border-radius: 5px; /* Abgerundete Ecken */
  transition: background-color 0.3s, color 0.3s; /* Flüssiger Übergang */
  transition: all 0.8s;
}

.but-cus:hover {
  background-color: #fff; /* Dunkleres Blau im Hover-Zustand */
  color: #08325f;
  border-color: #fff;
}

.hero-section {
  margin-top: 97px;
}

.cus-welc h2{
    font-size: 45px;
    color: whitesmoke;
    margin-top: 110px;
}

/* Main Section */

.main-section{
  background-image: linear-gradient(rgba(102, 87, 87, 0.5), rgba(92, 80, 80, 0.5)),
  url(/img/back-ground-main.jpg);
  background-size: cover;
  filter: brightness(1);
}

.card-card {
  margin: auto;
  border-color: black;
  border-width: 4px;
  background-image: url(/img/back-card.jpg);
  transition: all 0.7s;
}

.card-card:hover {
  transform: scale(1.06);
}

.cus-img {
  height: 50%;
  width: 50%;
  object-fit: cover;
  border-radius: 50%;
  border: solid;
  border-color: black;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  border-width: 4px;
  border-color: white;
  background: whitesmoke;
}

.new-card {
  max-width: 700px;
  margin: auto;
  border: solid;
  border-color: white;
  border-width: 2px;
  background-color: #08325f;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: bold;
  border-radius: 10px;
}

.card-news {
  border: solid;
  border-color: white;
  border-width: 2px;
  border-radius: 10px;
  background-color: #08325f;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.but-cus-1{
  background-color: #104a88;
  border: solid;
  border-color: white;
  color: white;
  border-width: 2px;
  transition: all 0.7s;
}

.but-cus-1:hover {
  background-color: white;
  color: #104a88;
  border-color: white;
}

/* Test showcase */

body {
  background: #ddd;
}

.profile-area {
  padding: 80px 0;
}

.profile-area .card {
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  border-radius: 15px;
  border-width: 0;
  transition: all 1.2s;
  max-height: 800px;
  border-width: 3px;
  border-color: white;
  color: white;
}

.profile-area .card:hover {
  transform: scale(1.02);
}

.img1 img {
  height: 130px;
  border-radius: 50%;
  width: 130px;
  margin: auto;
  border: solid 3px;
  border-color: white;
  margin-top: 20px;
  margin-bottom: 10px;
  background-color: whitesmoke;
}

.img2 img {
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  z-index: 1;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 5px solid white;
  margin-top: -60px;
  transition: all 0.7s;
  border: solid;
  border-width: 6px;
  background-color: white;
}

.main-text {
  padding: 30px 0;
  text-align: center;
  border: solid;
  margin: 10px;
  border-radius: 10px;
  border-width: 3px;
  border-color: white;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.main-text h2 {
  text-transform: uppercase;
  font-weight: 900;
  font-size: 20px;
  margin: 0 0 20px;
}

.main-text p {
  font-size: 12px;
  padding: 0 20px;
}

.but-angebot {
  background-color: rgb(24, 24, 70);
  border-color: white;
  transition: all 0.5s;
  color: white;
}

.but-angebot:hover {
  color: black;
  background-color: white;
  border-color: black;
}

/* Footer Section */

#main-footer {
  background-color: #3A3A3A;
  padding-top: 30px;
  padding-bottom: 20px;
}

#main-footer p {
  text-align: center;
  color: white;
}

#main-footer p a {
  color: white;
}
