/* Navbar Section */

.navbar {
  margin-bottom: 12px;
  margin-top: 22px;
  border-radius: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.navbar-nav .nav-link {
  font-size: 19px;
  font-weight: 300;
  font-family:  sans-serif;
  color: white;
  position: relative;
} 

 .nav-link:hover {
  opacity: 0.8;
  transition: all 0.4s;
}

.dropdown-menu {
  background-color: rgba(30, 70, 110, 255);
  color: white;
}

.dropdown-menu a {
  color: white;
}

.navbar-nav .nav-link:not(.dropdown-toggle)::after{
  content: "";
  opacity: 0;
  transition: all 0.3s;
  height: 1.7px;
  width: 100%;
  background-color: white;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: all 0.8s;
}

.navbar-nav .nav-link:not(.dropdown-toggle):hover::after{
  opacity: 1; 
}

.cust-drop:hover{
  color: white;
}

@media(min-width: 992px) {
  .dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
  }
}

/* Hamburger menu */
.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255, 255, 255, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

/* Hamburger menu */
.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255, 255, 255, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

/*Hero Section */

.c-item {
  height: 70vh;
}

.c-image {
  height: 100%;
  object-fit: cover;
  filter: brightness(1.4);
}

.hero-section {
  margin-top: 97px;
}

.cus-welc h2{
    font-size: 34px;
    color: whitesmoke;
    margin-top: 10px;
}

/* Main Section */

.main-section{
  background-image: linear-gradient(rgba(102, 87, 87, 0.5), rgba(92, 80, 80, 0.5)),
  url(/img/back-ground-main.jpg);
  background-size: cover;
  filter: brightness(1);
}

/* Accordion Section */
.helper *,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.helper html {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 6px;
}

.helper section {
  width: 100%;
  min-height: 80vh; /* Changed to min-height to handle smaller screens */
  background-color: #3c4053;
  display: flex;
  align-items: center;
  justify-content: center;
}

.helper .container {
  width: 100%;
  max-width: 80rem;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.helper .accordion-item {
  background-color: #283042;
  border-radius: 0.4rem;
  border: none;
  margin-bottom: 1rem;
  padding: 1rem;
  box-shadow: 0.5rem 2px 0.5rem rgba(0, 0, 0, 0.1);
  color: white;
}

.helper .accordion-link {
  font-size: 1.2rem;
  color: rgba(255, 255, 255, 0.8);
  text-decoration: none;
  background-color: #283042;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0;
}

.accordion-link ion-icon {
  color: #e7d5ff;
  padding: 0.5rem;
  width: 2rem; /* Feste Breite für das Icon */
  flex-shrink: 0; /* Verhindert das Schrumpfen des Icons */
}

.accordion-link .helper3 {
  display: none;
}

.answer {
  max-height: 0;
  overflow: hidden;
  position: relative;
  background-color: #212838;
  transition: max-height 650ms, padding 650ms;
}

.answer::before {
  content: "";
  position: absolute;
  width: 0.6rem;
  height: 90%;
  background-color: #8fc460;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.answer p {
  color: rgba(255, 255, 255, 0.6);
  font-size: 1rem;
  padding: 0 2rem;
}

.accordion-item:target .answer {
  max-height: 50rem;
  padding: 2rem 2rem;
}

.accordion-item:target .accordion-link .helper2 {
  display: none;
}

.accordion-item:target .accordion-link .helper3 {
  display: block;
}

/* Responsive Design */
@media (max-width: 768px) {
  .helper .container {
    padding: 0 1rem;
  }

  .accordion-link {
    font-size: 1.4rem;
    padding: 1rem;
  }

  .answer p {
    font-size: 1.2rem;
    padding: 1rem;
  }
}

/* Footer Section */
#main-footer {
  background-color: #3A3A3A;
  padding-top: 30px;
  padding-bottom: 20px;
}

#main-footer p {
  text-align: center;
  color: white;
}

#main-footer p a {
  color: white;
}

