/* Navbar Section */

.navbar {
  margin-bottom: 12px;
  margin-top: 22px;
  border-radius: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.navbar-nav .nav-link {
  font-size: 19px;
  font-weight: 300;
  font-family:  sans-serif;
  color: white;
  position: relative;
} 

 .nav-link:hover {
  opacity: 0.8;
  transition: all 0.4s;
}

.dropdown-menu {
  background-color: rgba(30, 70, 110, 255);
  color: white;
}

.dropdown-menu a {
  color: white;
}

.navbar-nav .nav-link:not(.dropdown-toggle)::after{
  content: "";
  opacity: 0;
  transition: all 0.3s;
  height: 1.7px;
  width: 100%;
  background-color: white;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: all 0.8s;
}

.navbar-nav .nav-link:not(.dropdown-toggle):hover::after{
  opacity: 1; 
}

.cust-drop:hover{
  color: white;
}

@media(min-width: 992px) {
  .dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
  }
}

/* Hamburger menu */
.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255, 255, 255, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

/* Hamburger menu */
.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255, 255, 255, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

h4 {
  font-weight: bold;
  color: #c4766f;
}

/* Footer Section */

#main-footer {
  background-color: #3A3A3A;
  padding-top: 30px;
  padding-bottom: 20px;
}

#main-footer p {
  text-align: center;
  color: white;
}

#main-footer p a {
  color: white;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}