body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
  }
  
  /* Navbar Section */
  
  .navbar {
    margin-bottom: 12px;
    margin-top: 28px;
    border-radius: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  
  .nav-cus {
    background-image: linear-gradient(to left, rgba(255, 165, 0, 0.5), rgba(255, 69, 0, 0.3)),
    url(/img/orangered.jpg);
    border-bottom: solid; border-width: 2.5px; 
    border-color: whitesmoke;
  }
  
  .navbar-nav .nav-link {
    font-size: 27px;
    font-weight: 500;
    font-family:  Arima;
    color: whitesmoke;
    position: relative;
    margin-left: 10px;
    margin-right: 10px;
    text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.8);
  } 
  
  @media(max-width: 1210px){
    .navbar-nav .nav-link {
      font-size: 27px;
      font-weight: 500;
      font-family:  Arima;
      color: whitesmoke;
      position: relative;
      margin-left: 0px;
      margin-right: 0px;
    } 
  }
  
   .nav-link:hover {
    opacity: 0.9;
    transition: all 0.8s;
    color: black;
  }
  
  .dropdown-menu {
    background-image: linear-gradient(rgba(212, 48, 48, 0.5), rgba(226, 32, 32, 0.5)),
    url(/img/orangered.jpg);
    color: white;
  }
  
  .dropdown-menu a {
    color: white;
  }
  
  .dropdown-menu a:hover {
    color: black;
    background: linear-gradient(to right,rgba(255, 165, 0, 0.9), rgba(255, 223, 186, 0.8));
  }
  
  .navbar-nav .nav-link:not(.dropdown-toggle)::after{
    content: "";
    opacity: 0;
    transition: all 0.8s;
    height: 2.6px;
    width: 100%;
    background-color: black;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: all 0.8s;
  }
  
  .navbar-nav .nav-link:not(.dropdown-toggle):hover::after{
    opacity: 1; 
  }
  
  .cust-drop:hover{
    color: white;
  }
  
  @media(min-width: 992px) {
    .dropdown:hover .dropdown-menu {
      display: block;
      margin-top: 0;
    }
  }
  
  
  /* Hamburger menu */
  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255, 255, 255, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  }
  
  /* Hamburger menu */
  .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255, 255, 255, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  }
  
  h4 {
    font-weight: bold;
    color: whitesmoke; 
    text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.8);
  }
  
  p {
    text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.8);
  }
  
  /* Footer Section */
  
  #main-footer {
    background-color: black;
    padding-top: 30px;
    padding-bottom: 20px;
  }
  
  #main-footer p {
    text-align: center;
    color: white;
  }
  
  #main-footer p a {
    color: white;
  }
  
  html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
  }