body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.top-nav p{
  margin-top: auto; 
  text-align: right; 
  font-size: 19px; 
  color: black;
}

@media(max-width: 220px) {
  .top-nav p{
    font-size: 17px;
  }
}

/* Navbar Section */

.navbar {
  margin-bottom: 12px;
  margin-top: 28px;
  border-radius: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.nav-cus {
  background-image: linear-gradient(to left, rgba(255, 165, 0, 0.5), rgba(255, 69, 0, 0.3)),
  url(/img/orangered.jpg);
  border-bottom: solid; border-width: 2.5px; 
  border-color: whitesmoke;
}

.navbar-nav .nav-link {
  font-size: 27px;
  font-weight: 500;
  font-family:  Arima;
  color: whitesmoke;
  position: relative;
  margin-left: 10px;
  margin-right: 10px;
  text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.8);
} 

@media(max-width: 1210px){
  .navbar-nav .nav-link {
    font-size: 27px;
    font-weight: 500;
    font-family:  Arima;
    color: whitesmoke;
    position: relative;
    margin-left: 0px;
    margin-right: 0px;
  } 
}

 .nav-link:hover {
  opacity: 0.9;
  transition: all 0.8s;
  color: black;
}

.dropdown-menu {
  background-image: linear-gradient(rgba(212, 48, 48, 0.5), rgba(226, 32, 32, 0.5)),
  url(/img/orangered.jpg);
  color: white;
}

.dropdown-menu a {
  color: white;
}

.dropdown-menu a:hover {
  color: black;
  background: linear-gradient(to right,rgba(255, 165, 0, 0.9), rgba(255, 223, 186, 0.8));
}

.navbar-nav .nav-link:not(.dropdown-toggle)::after{
  content: "";
  opacity: 0;
  transition: all 0.8s;
  height: 2.6px;
  width: 100%;
  background-color: black;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: all 0.8s;
}

.navbar-nav .nav-link:not(.dropdown-toggle):hover::after{
  opacity: 1; 
}

.cust-drop:hover{
  color: white;
}

@media(min-width: 992px) {
  .dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
  }
}


/* Hamburger menu */
.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255, 255, 255, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

/* Hamburger menu */
.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255, 255, 255, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

/*Hero Section */

.c-item {
  height: 65vh;
}

.c-image {
  height: 100%;
  object-fit: cover;
  filter: brightness(0.5);
}

.hero-section {
  margin-top: 97px;
}

.cus-welc h2{
    font-size: 40px;
    color: whitesmoke;
    margin-top: 45px;
}

@media(max-width: 300px) {
  .hero-section h1{
    font-size: 30px;
  }
}

body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden; /* Verhindert horizontales Scrollen */
}

@media(max-width: 300px) {
  .cus-welc h2{
    font-size: 25px;
    color: whitesmoke;
    margin-top: 45px;
}

.cus-welc p {
  font-size: 6px;
}
}
/*
body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
} */

/* Main Section */

.main-section{
  background-image: linear-gradient(rgba(223, 21, 21, 0.3), rgba(87, 10, 10, 0.5)),
  url(/img/orangered.jpg);
  background-size: cover;
  filter: brightness(1.1);
}

.text-part {
  color: white; 
  border-left: solid; 
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: 18px;
}

@media(max-width: 767px) {
  .text-part{
    color: white; 
    border-top: solid;
    border-left: none;
    margin-top: 10px;
    padding-top: 16px;
  }
}

.outer img{
  object-fit: cover; 
  height: 100%; 
  width: 100%;
  border: solid white 2.5px;
}

.outer h3 {
  text-align: center;
  color: whitesmoke;
  text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.9);
  font-size: 32px;
}

.outer li {
  color: whitesmoke;
  text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.9);
  font-size: 18px;
  text-align: left;
}

.outer  p,h5 {
  color: whitesmoke;
  text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.9);
  font-size: 18px;
}

@media(max-width: 1250px) {
  .outer h3 {
    text-align: center;
    color: whitesmoke;
    text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.9);
    font-size: 28px;
  }
  
  .outer li {
    color: whitesmoke;
    text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.9);
    font-size: 18px;
    text-align: left;
  }
  
  .outer  p,h5 {
    color: whitesmoke;
    text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.9);
    font-size: 16px;
  }
}

/* Accordion */

.accordion {
  margin: 60px auto;
  max-width: 700px;
  padding-left: 10px;
}

.accordion li {
  list-style: none;
  width:  100%;
  margin: 20p 0x;
  padding: 10px;
  border-radius: 8px;
  background: #e3edf7;
  box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15),
              -6px -6px 10px -1px rgba(155, 255, 255, 0.7);
              background-image: linear-gradient(rgba(206, 92, 92, 0.5), rgba(63, 8, 8, 0.5)),
              url(/img/hintergrundB.jpg);
              color: white;
}

.accordion p {
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  font-weight: 300;
  color: white;
}

.accordion li label {
  display: flex;
  align-items: center;
  padding: 10px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
}

label::before {
  content: '+';
  margin-right: 10px;
  font-size: 24px;
  font-weight: 600;
}

input[type="radio"] {
  display: none;
}

.accordion .content {
  color: #555;
  padding: 0 10px;
  line-height: 26px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s, padding 0.5s;
}

.accordion input[type="radio"]:checked + label + .content {
  max-height: 400px;
  padding: 10px 10px 20px;
}

.accordion input[type="radio"]:checked + label::before {
  content: '-';
}

.image-cus {
  width: 100%;
  height: 50%;
  object-fit: cover;
  max-height: 600px;
  margin-top: 40px;
  margin-bottom: 40px;
}

/* Footer Section */

#main-footer {
  background-color: black;
  padding-top: 30px;
  padding-bottom: 20px;
}

#main-footer p {
  text-align: center;
  color: white;
}

#main-footer p a {
  color: white;
}