body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

/* Navbar Section */

.navbar {
  margin-bottom: 12px;
  margin-top: 28px;
  border-radius: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.nav-cus {
  background-image: linear-gradient(to left, rgba(255, 165, 0, 0.5), rgba(255, 69, 0, 0.3)),
  url(/img/orangered.jpg);
  border-bottom: solid; border-width: 2.5px; 
  border-color: whitesmoke;
}

.navbar-nav .nav-link {
  font-size: 27px;
  font-weight: 500;
  font-family:  Arima;
  color: whitesmoke;
  position: relative;
  margin-left: 10px;
  margin-right: 10px;
  text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.8);
} 

@media(max-width: 1210px){
  .navbar-nav .nav-link {
    font-size: 27px;
    font-weight: 500;
    font-family:  Arima;
    color: whitesmoke;
    position: relative;
    margin-left: 0px;
    margin-right: 0px;
  } 
}

 .nav-link:hover {
  opacity: 0.9;
  transition: all 0.8s;
  color: black;
}

.dropdown-menu {
  background-image: linear-gradient(rgba(212, 48, 48, 0.5), rgba(226, 32, 32, 0.5)),
  url(/img/orangered.jpg);
  color: white;
}

.dropdown-menu a {
  color: white;
}

.dropdown-menu a:hover {
  color: black;
  background: linear-gradient(to right,rgba(255, 165, 0, 0.9), rgba(255, 223, 186, 0.8));
}

.navbar-nav .nav-link:not(.dropdown-toggle)::after{
  content: "";
  opacity: 0;
  transition: all 0.8s;
  height: 2.6px;
  width: 100%;
  background-color: black;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: all 0.8s;
}

.navbar-nav .nav-link:not(.dropdown-toggle):hover::after{
  opacity: 1; 
}

.cust-drop:hover{
  color: white;
}

@media(min-width: 992px) {
  .dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
  }
}


/* Hamburger menu */
.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255, 255, 255, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

/* Hamburger menu */
.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255, 255, 255, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

/* Hero Section */

.c-item {
  height: 65vh;
}

.c-image {
  height: 100%;
  object-fit: cover;
  filter: brightness(0.8);
}

.but-cus {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  font-family: sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  background-color: #08325f; /* Standard-Blau von Bootstrap */
  border: 2px solid #fff; /* Randstil */
  border-radius: 5px; /* Abgerundete Ecken */
  transition: background-color 0.3s, color 0.3s; /* Flüssiger Übergang */
  transition: all 0.8s;
}

.but-cus:hover {
  background-color: #fff; /* Dunkleres Blau im Hover-Zustand */
  color: #007bff;
  border-color: #fff;
}

.hero-section {
  margin-top: 97px;
}

.cus-welc h2{
    font-size: 40px;
    color: whitesmoke;
    margin-top: 50px;
}

@media(max-width: 300px) {
  .cus-welc h2{
    font-size: 25px;
    color: whitesmoke;
    margin-top: 45px;
}

.cus-welc p {
  font-size: 6px;
}
}

/* Main Section */

.main-section{
  background-image: linear-gradient(rgba(223, 21, 21, 0.3), rgba(87, 10, 10, 0.5)),
  url(/img/orangered.jpg);
  background-size: cover;
  filter: brightness(1);
}

.text-part {
  color: white; 
  border-left: solid; 
  padding-top: 30px;
  font-size: 18px;
}

@media(max-width: 767px) {
  .text-part{
    color: white; 
    border-top: solid;
    border-left: none;
    margin-top: 10px;
    padding-top: 16px;
  }
}

.card-body h2 {
  margin-bottom: 30px; 
  font-family: Arial, Helvetica, sans-serif; 
  border-bottom: solid; 
  border-width: 2px;
  padding-bottom: 15px;
  font-size: 35px;
}

@media(max-width: 350px) {
  .card-body h2 {
    margin-bottom: 30px; 
    font-family: Arial, Helvetica, sans-serif; 
    border-bottom: solid; 
    border-width: 2px;
    padding-bottom: 15px;
    font-size: 25px;
  }
}

@media(max-width: 270px) {
  .card-body h2 {
    margin-bottom: 30px; 
    font-family: Arial, Helvetica, sans-serif; 
    border-bottom: solid; 
    border-width: 2px;
    padding-bottom: 15px;
    font-size: 20px;
  }
}

.custom-matrix-button {
  border: solid;
  border-width: 1px;
  background-color: rgba(100, 19, 19, 0.5);
}

.custom-matrix-button:hover {
  background-color: white;
  background-color: rgba(10, 2, 2, 0.5);
  border-color: white;
}

.row .card {
  border: solid;
  border-width: 2px;
  background-image: linear-gradient(rgba(206, 92, 92, 0.5), rgba(63, 8, 8, 0.5)),
  url(/img/hintergrundB.jpg);
  color: white;
}

.row ul {
  padding-left: 0; /* Entfernt Standard-Einrückung */
  list-style-type: none; /* Entfernt Standard-Aufzählungszeichen */
}

.row li {
  display: flex; /* Aktiviert Flexbox für Listenelemente */
  align-items: flex-start; /* Richtet Items am Anfang aus */
  margin-bottom: 10px;
  text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.95);
  font-size: 17px;
}

.row li::before {
  content: "\2022"; /* Fügt benutzerdefiniertes Aufzählungszeichen hinzu (•) */
  margin-right: 10px; /* Abstand zwischen Aufzählungszeichen und Text */
}

.row .list-text {
  flex: 1; /* Nimmt den restlichen Platz ein und ermöglicht Umbrüche */
}

/* Footer Section */
#main-footer {
  background-color: black;
  padding-top: 30px;
  padding-bottom: 20px;
}

#main-footer p {
  text-align: center;
  color: white;
}

#main-footer p a {
  color: white;
}
